.card{
    display: grid;
    grid-template-rows: 950px 950px;
    grid-template-columns: 300px 300px 300px 300px;
    gap:30px;
}
.card-container{
    border: 2px solid black;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 3px black;

}